@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    background-color: #000;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(4, 4, 5, 1) 35%, rgba(56, 48, 80, 1) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
    cursor: default;
}

header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header ul {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    margin: 0 5px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

header ul li a.active,
header ul li a:hover {
    color: #05ff12;
}

header .menu-btn i {
    color: #fff;
    cursor: pointer;
    display: none;
}

a,button{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #000;
    transition: .5s;
    display: none;
}

.navigation ul li{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    padding: 20px 30px;
}

.navigation ul li a{
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    border-bottom: 1pt solid #252525;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 5%;
    left: 90%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    right: 0;
}

.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}

/*Home*/

.container-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
    gap: 10px;
    margin-bottom: 5%;
}

.left {
    text-align: center;
}

.left h1 {
    color: white;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}

.title-home {
    margin-top: 25%;
}

.left h2 {
    color: #6200EE;
    font-size: 40px;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.left h3 {
    color: white;
    font-weight: 200;
}

.right-home {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animacao-home {
    width: 330px;
    height: 330px;
    border: 2px solid #6200EE;
    border-top: 4px solid #6216cc;
    border-bottom: 1px solid #703abb;
    animation: animacao 10s linear infinite;
    position: absolute;
}

.animacao-home::after {
    content: "";
    width: 330px;
    height: 330px;
    border: 2px solid #0cc015;
    border-top: 4px solid #0bb914;
    /* border-radius: 50%; Talvez eu tire*/
    border-bottom: 1px solid #05ff12;
    animation: animacao 10s linear infinite;
    position: absolute;
}

@keyframes animacao {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.ilustra-eu {
    margin-bottom: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ilustra-eu img {
    padding: 10px;
    width: 330px;
    border-radius: 50%;
}

.container-redes {
    justify-content: center;
    display: flex;
    gap: 20px;
    padding: 5px;
}

.container-redes svg{
    color:#fff ;
}

.bi-github:hover {
    box-shadow: 0px 0px 35px #6200EE, 0px 0px 15px #6300eed0 inset;
    text-shadow: 0 px 0px 10px #6200EE, 0px 0px 3px #6300eed0;
    border-radius: 50px;
    transition: box-shadow 0.1s;
}

.bi-linkedin:hover {
    box-shadow: 0px 0px 35px #6200EE, 0px 0px 15px #6300eed0 inset;
    text-shadow: 0 px 0px 10px #6200EE, 0px 0px 3px #6300eed0;
    transition: box-shadow 0.1s;
}

/*Sobre */

.title {
    text-align: center;
    color: white;
    margin-bottom: 5%;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.eu img {
    width: 70%;
}

.right h1 {
    color: white;
    font-weight: 200;
}

.right p {
    margin-top: 3%;
    color: white;
    font-size: 18px;
}

.right .btn {
    margin-top: 5%;
    border: 1px solid rgba(131, 122, 122, 0.747);
    background-color: transparent;
    color: rgba(131, 122, 122, 0.747);
    border-radius: 10px;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.right .btn:hover {
    border: 4px #05ff12;
    color: #05ff12;
    box-shadow: 0px 0px 35px #05ff12, 0px 0px 15px #05ff1280 inset;
    text-shadow: 0 px 0px 10px #05ff12, 0px 0px 3px #05ff12;
}

/*Quem sou*/

.container-nichos{
    width: 80%;
    margin: 10%;
    padding-left:  2rem;
    padding-right: 2rem;
    border: 1px solid #6300eed0;
    margin-bottom: 5rem;
}

.titulo{
    margin: 30px auto;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.box-sobre img{
    width: 370px;
    margin-left: 50px;
    -webkit-box-shadow: -13px -13px 0px #60C03F;
    -moz-box-shadow:    -13px -13px 0px #60C03F;
    box-shadow:         -13px -13px 0px #60C03F;
}

.box-sobre img:hover{
    margin-left: 50px;
    -webkit-box-shadow: 13px 13px 0px #60C03F;
    -moz-box-shadow:    13px 13px 0px #60C03F;
    box-shadow:         13px 13px 0px #60C03F;
}

.box-sobre{
    margin-bottom: 5rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.texto-quemSou{
    width: 90%;
    height: 80%;
    margin-top: 10%;
}

.texto-quemSou p{
    font-size: 18px;
}

.texto-quemSou .btn {
    margin-top: 5%;
    border: 1px solid rgba(131, 122, 122, 0.747);
    background-color: transparent;
    color: rgba(131, 122, 122, 0.747);
    border-radius: 10px;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.texto-quemSou .btn:hover {
    border: 4px #05ff12;
    color: #05ff12;
    box-shadow: 0px 0px 35px #05ff12, 0px 0px 15px #05ff1280 inset;
    text-shadow: 0 px 0px 10px #05ff12, 0px 0px 3px #05ff12;
}

/*formação*/

.box-formacao{
    margin-bottom: 5rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.cursos-formacao{
    margin-left: 5rem;
    background-color: #2F2D30;
    width: 370px;
    height: 370px;
    padding: 40px;
    -webkit-box-shadow: 13px -13px 0px #973FC0;
    -moz-box-shadow:    13px -13px 0px #973FC0;
    box-shadow:         13px -13px 0px #973FC0;
}

.cursos-formacao:hover{
    -webkit-box-shadow: -13px 13px 0px #973FC0;
    -moz-box-shadow:    -13px 13px 0px #973FC0;
    box-shadow:         -13px 13px 0px #973FC0;
    transition: 0.10s;
}

.cursos-formacao img{
    width: 130px;
    height: 130px;
    margin: 5px;
}

.texto-formacao{
    width: 90%;
    height: 80%;
    margin-top: 10%;
    margin-left: 2rem
}

.texto-formacao p{
    font-size: 18px;
}

/*habilidades */

#formacao, #habilidades .titulo{
    text-align: left;
}

.habilidades{
    margin-left: 5rem;
    background-color: #2F2D30;
    width: 370px;
    height: 370px;
    padding: 70px;
    -webkit-box-shadow: -13px -13px 0px #60C03F;
    -moz-box-shadow:    -13px -13px 0px #60C03F;
    box-shadow:         -13px -13px 0px #60C03F;
}

.habilidades:hover{
    -webkit-box-shadow: 13px 13px 0px #60C03F;
    -moz-box-shadow:    13px 13px 0px #60C03F;
    box-shadow:         13px 13px 0px #60C03F;
    transition: 0.10s;
}

.habilidades img{
    width: 65px;
    height: 65px;
    margin: 3px;
}

.habilidades img:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 35px #05ff12, 0px 0px 15px #05ff1280 inset;
}

.texto-habilidades{
    width: 90%;
    height: 80%;
    margin-top: 10%;
    margin-left: 2rem
}

.texto-habilidades p{
    font-size: 18px;
}

/*projetos */
.box-projetos{
    display: grid;
    grid-template-columns: 31rem 31rem;
    margin-bottom: 5rem;
    height: 100%;
    align-items: center;
}

.box{
    margin: 10px 10px;  
}

.projeto-infos{
    border-bottom: 1px solid #ffffff62; 
    height: 11rem;
}

.box:hover{
    background-color: #000;
    transition: 0.10s;
}

.box img{
    width: 100%;
}

.buttons-project{
    padding: 10px;
    display: grid;
    grid-template-columns: 90% 10%;
}

.buttons-project .btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 150px;
}

.buttons-project .btn-primary:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: 0.5s;
}

.buttons-project .bi-github{
    background-color: #000;
    border-radius: 30px;
}

.descricao-projeto{
    padding: 10px;
}

.box p, span{
    color: #fff;
}

.box span{
    font-weight: bold;    
    font-size: 18px;
    text-transform: uppercase;
}

#btn-ver-mais{
    background-color: #6200EE;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 50px;
    border: 1px solid #6200EE;
}

#btn-ver-mais:hover{
    border: 1px solid #fff;
    background-color: #000;
    transition: 0.5s;
}

/*footer */

.footer {
    width: 100%;
    background-color: black;
    height: 220px;
}

.img-footer {
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

.img-footer img {
    width: 130px;
    margin-top: 5px;
}

.voltartopo a {
    color: #703abb;
    text-decoration: none;
}

.voltartopo a:hover {
    color: #05ff12;
}


/*Scroll efeito animação*/
.box-sobre img, .cursos-formacao, .habilidades{
    visibility: hidden;
}