@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(4, 4, 5, 1) 35%, rgba(56, 48, 80, 1) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Menu*/

nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: #6200EE;
    color: white;
}

nav .menu-btn i {
    color: #fff;
    cursor: pointer;
    display: none;
}

/*responsividade do menu*/

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 75vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 23px;
    }

    nav ul li a.active {
        background: none;
        color: #6a00ff;
    }

    nav ul li a:hover {
        background: none;
        color: #05ff12;
        transition: 0, 3s;
    }
}

/*project*/

.container-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
    gap: 10px;
    margin-bottom: 5%;
}

.left {
    text-align: center;
}

.left h1 {
    color: white;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}

.title-home {
    margin-top: 25%;
}

.left h2 {
    color: #6200EE;
    font-size: 40px;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.left h3 {
    color: white;
    font-weight: 200;
}

.right-home {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animacao-home {
    width: 330px;
    height: 330px;
    border: 2px solid #6200EE;
    border-top: 4px solid #6216cc;
    border-bottom: 1px solid #703abb;
    animation: animacao 10s linear infinite;
    position: absolute;
}

.animacao-home::after {
    content: "";
    width: 330px;
    height: 330px;
    border: 2px solid #0cc015;
    border-top: 4px solid #0bb914;
    /* border-radius: 50%; Talvez eu tire*/
    border-bottom: 1px solid #05ff12;
    animation: animacao 10s linear infinite;
    position: absolute;
}

@keyframes animacao {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.ilustra-eu {
    margin-bottom: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ilustra-eu img {
    padding: 10px;
    width: 330px;
    border-radius: 50%;
}

.container-redes {
    margin-left: 50%;
    width: 20%;
    margin-top: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
    gap: 20px;
}

.redes svg {
    color: white;
}

.bi-github:hover {
    box-shadow: 0px 0px 35px #6200EE, 0px 0px 15px #6300eed0 inset;
    text-shadow: 0 px 0px 10px #6200EE, 0px 0px 3px #6300eed0;
    border-radius: 50px;
    transition: box-shadow 0.1s;
}

.bi-linkedin:hover {
    box-shadow: 0px 0px 35px #6200EE, 0px 0px 15px #6300eed0 inset;
    text-shadow: 0 px 0px 10px #6200EE, 0px 0px 3px #6300eed0;
    border-radius: 15px;
    transition: box-shadow 0.1s;
}

/*Sobre */

.title {
    text-align: center;
    color: white;
    margin-bottom: 5%;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.eu img {
    width: 70%;
}

.right h1 {
    color: white;
    font-weight: 200;
}

.right p {
    margin-top: 3%;
    color: white;
    font-size: 18px;
}

.right .btn {
    margin-top: 5%;
    border: 1px solid rgba(131, 122, 122, 0.747);
    background-color: transparent;
    color: rgba(131, 122, 122, 0.747);
    border-radius: 10px;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.right .btn:hover {
    border: 4px #05ff12;
    color: #05ff12;
    box-shadow: 0px 0px 35px #05ff12, 0px 0px 15px #05ff1280 inset;
    text-shadow: 0 px 0px 10px #05ff12, 0px 0px 3px #05ff12;
}

/* Habilidades */

#habilidades {
    text-align: left;
    margin-top: 5%;
}

.left2 {
    margin-top: 10%;
    margin-left: 10%;
}

.left2 p {
    color: white;
    font-size: 18px;
}

.container-grid .habilidades {
    height: 500px;
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    gap: 10px;
}

.container-grid .habilidades img {
    margin-top: 5%;
    width: 150px;
}

.container-grid .habilidades img:hover {
    width: 170px;
    transition: 0.5s;
}

.habilidades img {
    margin-bottom: 20px;
}

/*Projetos*/

.container .projects {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.projects .card {
    padding: 10px;
    width: 350px;
    height: 350px;
}

.projects img {
    background-color: #703abb;
    width: 350px;
    height: 200px;
    position: relative;
}

.card img:hover {
    filter: blur(5px);
    transition: 0.3s;
}

.card h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.card a {
    text-decoration: none;
}

.card .btn-proj{
    background-color: black;
    width: 40%;
    height: 40px;
    top: 100px;
    right: 30%;
    position: absolute;
    display: none;
}

.card:hover .btn-proj{
    display: block;
    transition: 0.3s;
}

.card-body {
    margin-top: 10px;
}

.card-body h4 {
    font-size: 16px;
}

.card:hover .btn

/*
.card-body a {
    background-color: black;
    width: 40%;
    height: 40px;
    top: 100px;
    right: 30%;
    position: absolute;
}

.card:hover h4{
    display: block;
    transition: 0.5s;
}

*/

.card a:hover {
    box-shadow: 0px 0px 35px #6200EE, 0px 0px 15px #6300eed0 inset;
    text-shadow: 0 px 0px 10px #6200EE, 0px 0px 3px #6300eed0;
    transition: box-shadow 0.1s;
}

.container .btn-git {
    font-size: 18px;
    background-color: #6200EE;
    color: white;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.container .btn-git:hover {
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

/*footer */

.footer {
    width: 100%;
    background-color: black;
    height: 220px;
}

.img-footer {
    color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

.img-footer img {
    width: 130px;
    margin-top: 5px;
}

.voltartopo a {
    color: #703abb;
    text-decoration: none;
}

.voltartopo a:hover {
    color: #05ff12;
}